#div1 {
    background-color: rgb(46, 25, 2);
    height: 75px;
    width: 1440px;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    margin-left: -0px;
}

#logoimg img {
    height: 40px;
    width: 40px;
    margin: 17px 25px;
}

#buttons {
    display: block;
    text-align: end;
    margin: -55px 0px;
}

#b1 {
    border: none;
    background: none;
    font-family: fantasy;
    font-weight: bold;
    color: aliceblue;
    font-size: large;
    margin-right: 30px;
    text-decoration: none;
}

#b1:hover {
    border: none;
    background-color: white;
    font-family: fantasy;
    font-weight: bold;
    color: rgba(46, 25, 2, 1);
    font-size: larger;
    cursor: -moz-zoom-in;
    border-radius: 10px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:fantasy;
}
.menu{
    padding: 0;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px,1fr));
    grid-gap: 20px 40px;
}
.heading{
    background-color: #cb202d;
    color: #ffffff;
    margin-bottom: 30px;
    padding: 120px 0 30px 0;
    grid-column: 1/-1;
    text-align: center;
}
.heading>h1{
    font-weight: 400;
    font-size: 75px;
    letter-spacing: 10px;
    margin-bottom: 10px;
}
.heading>h3{
    font-weight: 600;
    font-size: 41px;
    letter-spacing: 5px;
}
.food-items{
    display: grid;
    /* position: relative; */
    grid-template-rows: auto 1fr;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin: 0 20px;
    border:2px solid black;
}
.food-items img{
    /* position: relative; */
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.details{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
    background-color: wheat;
}
.details-sub{
    display: grid;
    grid-template-columns: auto auto;
}
.details-sub>h5{
    font-weight: 600;
    font-size: 18px;
}
.price{
    text-align: right;
}
.details>p{
    color: #6f6f6f;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
}
.details>button{
    background-color: #cb202d;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 180px;
    
}
.details>button:hover{
    background-color:green;
    transition:background-color 0.15s;

}